@using Newtonsoft.Json;
@using portal.Controllers;
@using SecurityClearanceWebApp.Models;
@using APP.Util;
@model SecurityClearanceWebApp.Models.RA42_COMPANY_PASS_DTL

@{
    ViewBag.Title = "Details";
    string align = "text-right";
    string alignInverse = "text-left";
    string dir = "ltr";
    var b_lign = "left";
    var left = "-50%";
    if (ViewBag.lang == "ar")
    {
        align = "text-left";
        alignInverse = "text-right";
        dir = "rtl";
        b_lign = "right";
        left = "-85%";


    }
    var col = 12;
    var controller = "Mypasses";


    string barcode = Guid.NewGuid().ToString().Substring(0, 5);
    var expired = Resources.Common.ResourceManager.GetString("expired" + "_" + ViewBag.lang);
    var countinue = Resources.Common.ResourceManager.GetString("countinue" + "_" + ViewBag.lang);
}

<style>
    ul.tl li .timestamp {
        color: #8D8D8D;
        position: absolute;
        width: 100%;
        left: @left;
        text-align: left;
        font-size: 12px;
    }
</style>

<div class="container-fluid" dir="@dir">
    <div class="row">
        @if (ViewBag.RESPO_STATE > 1 || ViewBag.DEVELOPER == true || ViewBag.ADMIN == true)
        {
            @Html.Partial("Index")
            controller = ViewBag.controllerName;

        }

        <div class="col-md-@col">
            
            <div class="card shadow-sm">

                <div class="card-header text-primary">
                    <h5>
                        <i class="fa fa-eye"></i>
                        @Resources.Common.ResourceManager.GetString("details" + "_" + ViewBag.lang)
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 @align">
                            <a href="#" onclick="history.back()" class="btn btn-outline-dark">
                                <i class="fa fa-backward"></i>
                                @Resources.Passes.ResourceManager.GetString("back" + "_" + ViewBag.lang)
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">



                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Resources.Passes.ResourceManager.GetString("company_type" + "_" + ViewBag.lang)
                                        <p class="text-primary">@(Language.GetCurrentLang() == "en" ? @Model.RA42_COMPANY_TYPE_MST.COMPANY_TYPE_E : @Model.RA42_COMPANY_TYPE_MST.COMPANY_TYPE)</p>
                                        <hr />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Resources.Passes.ResourceManager.GetString("company_name" + "_" + ViewBag.lang)
                                        <p class="text-primary">@(Language.GetCurrentLang() == "en" ? @Model.RA42_COMPANY_MST.COMPANY_NAME_E : @Model.RA42_COMPANY_MST.COMPANY_NAME)</p>

                                        <hr />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Resources.Passes.ResourceManager.GetString("UNIT_CODE" + "_" + ViewBag.lang)
                                        <p class="text-primary" id="station">@(Language.GetCurrentLang() == "en" ? Model.RA42_STATIONS_MST.STATION_NAME_E : Model.RA42_STATIONS_MST.STATION_NAME_A)</p>
                                        <hr />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Resources.Passes.ResourceManager.GetString("respo_unit" + "_" + ViewBag.lang)
                                        <p class="text-primary">@Model.RESPONSIBLE</p>
                                        <hr />
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Resources.Passes.ResourceManager.GetString("PURPOSE_OF_PASS" + "_" + ViewBag.lang)
                                        <p class="text-primary">@Model.PURPOSE_OF_PASS</p>
                                        <hr />
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Resources.Passes.ResourceManager.GetString("Remarks" + "_" + ViewBag.lang)
                                        <p class="text-primary">@Model.REMARKS</p>
                                        <hr />
                                    </div>
                                </div>





                                <br />
                                <br />


                                <div class="col-lg-6">
                                    <h6>
                                        @Resources.Passes.ResourceManager.GetString("Zones" + "_" + ViewBag.lang)
                                    </h6>
                                    @foreach (var listZones in ViewBag.GetZones)
                                    {
                                        <div class="col-md-12">
                                            <div class="btn btn-outline-dark  mt-1 btn-block"><i class="fa fa-arrows-alt p-1"></i>@(Language.GetCurrentLang() == "en" ? @listZones.RA42_ZONE_AREA_MST.ZONE_NAME_E : @listZones.RA42_ZONE_AREA_MST.ZONE_NAME) - @Model.getZoneName(listZones.ZONE_SUB_CODE)</div>
                                        </div>
                                    }
                                </div>

                                <div class="col-lg-6">
                                    <h6>
                                        @Resources.Passes.ResourceManager.GetString("Documents" + "_" + ViewBag.lang)
                                    </h6>
                                    @foreach (var listFiles in ViewBag.GetFiles)
                                    {
                                        if (listFiles.FILE_TYPE != null)
                                        {
                                            if (!string.IsNullOrWhiteSpace(listFiles.FILE_TYPE_TEXT))
                                            {
                                                bool check = DateTime.TryParse(listFiles.FILE_TYPE_TEXT, out DateTime dateTime);
                                                if (check == true)
                                                {
                                                    var exp = countinue;
                                                    var div = "alert-success";
                                                    DateTime d = Convert.ToDateTime(listFiles.FILE_TYPE_TEXT);
                                                    if (d < DateTime.Now)
                                                    {
                                                        exp = expired;
                                                        div = "alert-danger";
                                                    }
                                                    <div class="col-md-12">
                                                        <div class="btn btn-outline-dark mt-1 btn-block">
                                                            <i class="fa fa-file-pdf p-1"></i> @(Language.GetCurrentLang() == "en" ? @listFiles.RA42_FILE_TYPE_MST.FILE_TYPE_E: @listFiles.RA42_FILE_TYPE_MST.FILE_TYPE) <span class="@div p-1 rounded">@exp | @listFiles.FILE_TYPE_TEXT </span> <a href="~/Files/Documents/@listFiles.FILE_NAME" class="float-left btn-warning btn-sm mr-1" target="_blank"><i class="fa fa-external-link-alt"></i></a><a href="~/Files/Documents/@listFiles.FILE_NAME" class="float-left btn-primary details btn-sm mr-1" download><i class="fa fa-download"></i></a>

                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-12">
                                                        <div class="btn btn-outline-dark mt-1 btn-block">
                                                            <i class="fa fa-file-pdf p-1"></i> @(Language.GetCurrentLang() == "en" ? @listFiles.RA42_FILE_TYPE_MST.FILE_TYPE_E: @listFiles.RA42_FILE_TYPE_MST.FILE_TYPE) | <span class="text-primary alert-light  rounded">@listFiles.FILE_TYPE_TEXT</span> <a href="~/Files/Documents/@listFiles.FILE_NAME" class="float-left btn-warning btn-sm mr-1" target="_blank"><i class="fa fa-external-link-alt"></i></a><a href="~/Files/Documents/@listFiles.FILE_NAME" class="float-left btn-primary details btn-sm mr-1" download><i class="fa fa-download"></i></a>

                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="col-md-12">
                                                    <div class="btn btn-outline-dark mt-1 btn-block">
                                                        <i class="fa fa-file-pdf p-1"></i> @(Language.GetCurrentLang() == "en" ? @listFiles.RA42_FILE_TYPE_MST.FILE_TYPE_E: @listFiles.RA42_FILE_TYPE_MST.FILE_TYPE) <a href="~/Files/Documents/@listFiles.FILE_NAME" class="float-left btn-warning btn-sm mr-1" target="_blank"><i class="fa fa-external-link-alt"></i></a><a href="~/Files/Documents/@listFiles.FILE_NAME" class="float-left btn-primary details btn-sm mr-1" download><i class="fa fa-download"></i></a>

                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>

                                <div class="col-lg-12">
                                    <hr />
                                    <h4 class="text-primary">
                                        @Resources.Passes.ResourceManager.GetString("employees" + "_" + ViewBag.lang)
                                    </h4>
                                    @foreach (var listEmloyees in ViewBag.GetEmployees)
                                    {
                                        <div class="col-md-12">
                                            <div class="btn btn-outline-dark mt-1 h-75 w-100">
                                                <div class="@alignInverse">

                                                    <img src="~/Files/Profiles/@listEmloyees.PERSONAL_IMAGE" onerror="this.onerror = null; this.src='@Url.Content("~/Content/images/adminpic.png")'" width="50" height="50" />

                                                    &ensp; @(Language.GetCurrentLang() == "en" ? @listEmloyees.NAME_E : @listEmloyees.NAME_A)
                                                    <a href="~/@ViewBag.lang/Temprorycompanypass/DetailsTemproryPass/@listEmloyees.TEMPRORY_COMPANY_PASS_CODE" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>

                                                    @if (ViewBag.RESPO_STATE > 1 || Model.REJECTED == true)
                                                    {
                                                        <a href="~/@ViewBag.lang/Temprorycompanypass/EditTemproryPass/@listEmloyees.TEMPRORY_COMPANY_PASS_CODE" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>


                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>


                            </div>
                        </div>

                        <div class="col-md-4 p-1 border-@b_lign p-2">
                            @{
                                string created_by = (new UserInfo()).FULL_NAME(Model.CRD_BY);
                                string approved_by = (new UserInfo()).FULL_NAME(Model.APPROVAL_SN);
                                string authorized_by = (new UserInfo()).FULL_NAME(Model.AUTHO_SN);
                                string permited_by = (new UserInfo()).FULL_NAME(Model.PERMIT_SN);
                            }
                            <div class="history-tl-container">
                                <ul class="tl">
                                    <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            @Model.CRD_DT
                                        </div>
                                        <div class="item-title">@Resources.Passes.ResourceManager.GetString("Applicant" + "_" + ViewBag.lang)</div>
                                        <div class="item-detail">@created_by</div>
                                    </li>
                                    <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            @Model.APPROVAL_APPROVISION_DATE
                                        </div>
                                        <div class="item-title">@Resources.Passes.ResourceManager.GetString("Approval" + "_" + ViewBag.lang)</div>
                                        <div class="item-detail">@approved_by</div>
                                    </li>
                                    <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            @Model.PERMIT_APPROVISION_DATE

                                        </div>
                                        <div class="item-title">@Resources.Passes.ResourceManager.GetString("Permited" + "_" + ViewBag.lang)</div>
                                        <div class="item-detail">@permited_by</div>
                                    </li>

                                    <li class="tl-item" ng-repeat="item in retailer_history">
                                        <div class="timestamp">
                                            @Model.AUTHO_APPROVISION_DATE

                                        </div>
                                        <div class="item-title">@Resources.Passes.ResourceManager.GetString("Authorized" + "_" + ViewBag.lang)</div>
                                        <div class="item-detail">@authorized_by</div>
                                    </li>

                                </ul>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>



