@using APP.Util;
@model IEnumerable<SecurityClearanceWebApp.Models.RA42_COMPANY_PASS_DTL>

@{
    ViewBag.Title = "To print permits";
    string align = "text-right";
    string alignInverse = "text-left";
    string dir = "ltr";
    if (ViewBag.lang == "ar")
    {
        align = "text-left";
        alignInverse = "text-right";
        dir = "rtl";
    }


}

<style>
    td, th {
        text-align: center !important;
        vertical-align: middle !important;
    }
</style>


<div class="container-fluid" dir="@dir">
    <div class="row">
        @Html.Partial("Index")

        <div class="col-md-12">
            <div class="card shadow-sm">
               

                        <div class="card-header text-primary">
                            <h5>
                                <i class="fa fa-vr-cardboard"></i>
                                &nbsp;
                                @Resources.Passes.ResourceManager.GetString("to_print" + "_" + ViewBag.lang)
                            </h5>
                        </div>
                   
                    <div class="card-body">
                        <table class="table table-bordered table-hover table-responsive data-table text-center" id="tb">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th>#</th>

                                    <th>
                                        @Resources.Passes.ResourceManager.GetString("employee_total" + "_" + ViewBag.lang)
                                    </th>
                                    <th>@Resources.Passes.ResourceManager.GetString("company_name" + "_" + ViewBag.lang)</th>

                                    <th>
                                        @Resources.Passes.ResourceManager.GetString("employees" + "_" + ViewBag.lang)
                                    </th>

                                    <th>
                                        @Resources.Passes.ResourceManager.GetString("PURPOSE_OF_PASS" + "_" + ViewBag.lang)
                                    </th>

                                    <th>
                                        @Resources.Passes.ResourceManager.GetString("Status" + "_" + ViewBag.lang)
                                    </th>
                                    <th style="border-right:1px solid #ccc; width: 25%">
                                        @Resources.Passes.ResourceManager.GetString("Actions" + "_" + ViewBag.lang)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int rowNo = 0;}
                                @foreach (var item in Model)
                                {
                                <tr>
                                    @{rowNo++;}
                                    <td>@rowNo</td>


                                    <td>
                                        @item.RA42_TEMPRORY_COMPANY_PASS_DTL.Where(a => a.DLT_STS != true).Count()
                                    </td>
                                    <td>@item.RA42_COMPANY_MST.COMPANY_NAME</td>
                                    <td width="50%">
                                        @foreach (var emp in item.RA42_TEMPRORY_COMPANY_PASS_DTL.Where(a => a.DLT_STS != true))
                                        {
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        
                                                            <div class="float-right">

                                                                <div class="m-1"><img src="~/Files/Profiles/@emp.PERSONAL_IMAGE" onerror="this.onerror = null; this.src='@Url.Content("~/Content/images/adminpic.png")'" width="40" height="40" /></div>

                                                            </div>
                                                            <div class=" @alignInverse">
                                                                @(Language.GetCurrentLang() == "en" ? emp.NAME_E : emp.NAME_A ) |  @Resources.Passes.ResourceManager.GetString("Civil_number" + "_" + ViewBag.lang): @emp.ID_CARD_NUMBER

                                                                |
                                                                <a href="@Url.Action("DetailsTemproryPass", ViewBag.controllerName, new { id= emp.TEMPRORY_COMPANY_PASS_CODE })" class="btn btn-primary  details">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                                <a href="@Url.Action("EditTemproryPass", ViewBag.controllerName, new { id= emp.TEMPRORY_COMPANY_PASS_CODE })" class="btn btn-warning">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                                @if (ViewBag.RESPO_STATE == 3)
                                                                {
                                                                    if (item.STATUS == true && emp.ISPRINTED != true)
                                                                    {
                                                                        <a href="@Url.Action("Card", ViewBag.controllerName, new { id = emp.TEMPRORY_COMPANY_PASS_CODE })" class="btn btn-dark" target="_blank"><i class="fa fa-print"></i></a>
                                                                    }
                                                                }
                                                                @if (item.STATUS == true)
                                                                {

                                                                    if (emp.ISPRINTED == true)
                                                                    {
                                                                        <span class="btn alert-secondary"><i class="fa fa-check-circle text-success"></i> @Resources.Passes.ResourceManager.GetString("printed" + "_" + ViewBag.lang)</span>}
                                                                    else
                                                                    {
                                                                        <span class="btn alert-secondary">
                                                                            <i class="fa fa-minus-circle text-danger"></i> @Resources.Passes.ResourceManager.GetString("not_printed" + "_" + ViewBag.lang)
                                                                        </span>}
                                                                }
                                                                | @Resources.Passes.ResourceManager.GetString("Pass_type" + "_" + ViewBag.lang) : @emp.RA42_PASS_TYPE_MST.PASS_TYPE

                                                            </div>
                                                        

                                                    </div>
                                                </div>

                                            </div>
                                            <hr />
                                        }

                                    </td>










                                    <td width="10%">

                                        @Html.DisplayFor(modelItem => item.PURPOSE_OF_PASS)

                                    </td>



                                    <td width="10%">



                                        @if (item.REJECTED == true)
                                        {
                                            <div class="alert alert-danger text-center"><i class="fa fa-times-circle"></i> @Resources.Passes.ResourceManager.GetString("Reject" + "_" + ViewBag.lang)</div>
                                        }
                                        else
                                        {

                                            if (item.STATUS == true)
                                            {

                                                <div class="alert alert-success text-center">
                                                    <i class="fa fa-check-circle"></i> @Resources.Passes.ResourceManager.GetString("Approve" + "_" + ViewBag.lang)
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="alert alert-warning text-center">
                                                    <i class="fa fa-hourglass-half"></i> @Resources.Passes.ResourceManager.GetString("Progress" + "_" + ViewBag.lang)
                                                </div>
                                            }
                                        }
                                    </td>
                                    <td  style="border-right:1px solid #ccc;" dir="ltr">

                                        <div class="">
                                            <div class="row justify-content-center">
                                                <div class="btn-group p-2 justify-content-center">
                                                    <a class="btn btn-info text-center" href="@Url.Action("Comments", ViewBag.controllerName,  new { id=item.COMPANY_PASS_CODE })" title="@Resources.Passes.ResourceManager.GetString("Comments" + "_" + ViewBag.lang)">
                                                        <i class="fa fa-comment"></i>@item.countCommennts(item.COMPANY_PASS_CODE)


                                                    </a>

                                                    <a class="btn btn-primary details text-center" title="@Resources.Common.ResourceManager.GetString("details" + "_" + ViewBag.lang)" href="@Url.Action("Details", ViewBag.controllerName,  new { id=item.COMPANY_PASS_CODE })">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    <a class="btn btn-warning text-center" title="@Resources.Common.ResourceManager.GetString("edit" + "_" + ViewBag.lang)" href="@Url.Action("Edit", ViewBag.controllerName,  new { id=item.COMPANY_PASS_CODE })">
                                                        <i class="fa fa-edit"></i>
                                                    </a>


                                                    <a class="btn btn-danger text-center" title="@Resources.Common.ResourceManager.GetString("delete" + "_" + ViewBag.lang)" href="@Url.Action("Delete", ViewBag.controllerName, new { id = item.COMPANY_PASS_CODE })">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                    @if (item.STATUS == true && item.RA42_TEMPRORY_COMPANY_PASS_DTL.Where(a => a.DLT_STS != true).Count()>1)
                                                    {
                                                        <a class="btn btn-dark text-center" onclick="return confirm('طباعة جميع العمال في ورقة واحدة؟ في حالة قمت بطباعة جميع العمال في ورقة واحدة سيتم نقل جميع العمال في هذا الطلب إلى خانة التصاريح المطبوعة')" 
                                                           title="@Resources.Passes.ResourceManager.GetString("Print" + "_" + ViewBag.lang)" href="@Url.Action("PrintAll", ViewBag.controllerName, new { id = item.COMPANY_PASS_CODE })">
                                                            <i class="fa fa-print"></i>
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
