
@{
                /**/

                Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>هذا المتصفح غير مدعوم - Not supported browser</title>
    <link rel="icon" href="@Url.Content("~/Content/images/logo.png")">
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/fontawesome.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/toast/iziToast.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/datatables/datatables.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/datatables/buttons.bootstrap4.min.css")">

    <link rel="@Url.Content("~/Content/datatables/bootstrap.css")">
    <link rel="@Url.Content("~/Content/datatables/dataTables.bootstrap4.min.css")">
    <link rel="@Url.Content("~/Content/datatables/buttons.bootstrap4.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/site.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Kendo/Kendo/kendo.common.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Kendo/Kendo/kendo.default.min.css")">
    <style>
        body {
            background-color: whitesmoke;
            background: url("@Url.Content("~/Content/images/back013.png")")
        }

       
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="justify-content-center">
            <div class="col-lg-12 text-center" dir="rtl">

                <div class="p-5 m-5 alert  alert-danger text-uppercase font-weight-bolder" style="font-size:60px">

                    <i class="fa fa-exclamation-triangle"></i>
                    <br />
                      هذا المتصفح غير مدعوم، يرجى تغيير المتصفح إلى جوجل كروم أو متصفح إدج  
                    <hr />
                    <div style="font-family:Arial">This browser is not supported, please change browser to google chrome or Edge</div>

                </div>

            </div>
        </div>
    </div>
</body>
</html>
