
@{
    ViewBag.Title = "Tabs";
    string align = "text-right";
    string alignInverse = "text-left";
    string dir = "ltr";
    if (ViewBag.lang == "ar")
    {
        align = "text-left";
        alignInverse = "text-right";
        dir = "rtl";
    }


}

<style>
    td, th {
        text-align: center !important;
    }
</style>



@if (ViewBag.RESPO_STATE > 1 && ViewBag.RESPO_STATE <=4)
{
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">

                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row justify-content-center align-self-center">
                            <div class="btn-group">
                                <a class="btn btn-outline-primary  text-center  @if (ViewBag.activetab == "Search") { <text>active</text>} " href="@Url.Action("Search", ViewBag.controllerName, null)">
                                    <i class="fa fa-search"></i>
                                    &nbsp;
                                    @Resources.Passes.ResourceManager.GetString("EventExercise_pass_Search" + "_" + ViewBag.lang)
                                </a>
                           
                          
                                <a class="btn btn-outline-primary  text-center  @if (ViewBag.activetab == "Supercreate") { <text>active</text>} " href="@Url.Action("Supercreate", ViewBag.controllerName, null)">
                                    <i class="fa fa-plus-square"></i>
                                    &nbsp;
                                    @Resources.Passes.ResourceManager.GetString("Create_special_event_exercise_pass" + "_" + ViewBag.lang)
                                </a>
                            

                            
                                <a class="btn btn-outline-primary text-center @if (ViewBag.activetab == "Otherpermit") { <text>active</text>} " href="@Url.Action("Otherpermit", ViewBag.controllerName, null)">
                                    <i class="fa fa-external-link-square-alt"></i>
                                    &nbsp;
                                    @Resources.Passes.ResourceManager.GetString("create_other_permit_ex" + "_" + ViewBag.lang)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
else
{

    var url = Url.RequestContext.RouteData.Values["id"];
    var id = int.Parse(url.ToString());

    if (ViewBag.RESPO_STATE > 1 && ViewBag.RESPO_STATE <= 4)
    {
    <div class="col-md-12 @align">
        <a href="~/@ViewBag.lang/Mypasses/Select/@id" class="btn btn-outline-dark">
            <i class="fa fa-backward"></i>
            @Resources.Passes.ResourceManager.GetString("back" + "_" + ViewBag.lang)
        </a>
    </div>
    }
}

