@using portal.Controllers;
@using APP.Util
@model IEnumerable<SecurityClearanceWebApp.Models.RA42_CARD_FOR_MST>

@{
    ViewBag.Title = "Select permit type";
    string align = "text-right";
    string alignInverse = "text-left";
    string dir = "ltr";
    if (ViewBag.lang == "ar")
    {
        align = "text-left";
        alignInverse = "text-right";
        dir = "rtl";
    }

    int station = Convert.ToInt32(ViewBag.Selected_Station);
    string currentUser = (new UserInfo()).getSNO();
    bool is_officer = false;
    if (currentUser.Contains("D1") || currentUser.Contains("D3"))
    {
        is_officer = true;
    }

    string permit = "";
    if (Model != null) {
        var permit_type = Model.FirstOrDefault();
        permit = (Language.GetCurrentLang() == "en" ? permit_type.RA42_ACCESS_TYPE_MST.ACCESS_TYPE_E : permit_type.RA42_ACCESS_TYPE_MST.ACCESS_TYPE);
    }

    var company = new List<string>() { "24","29"};
}

<div class="container-fluid" dir="@dir">
    <div class="page-path">
        <a href="@Url.Action("Index", ViewBag.controllerName, null)">
            <i class="fa fa-universal-access"></i>
            @Resources.Passes.ResourceManager.GetString("mypasses1" + "_" + ViewBag.lang)
        </a>
        <span>/</span>
        <a href="@Url.Action("Forces", ViewBag.controllerName, null)">
            <i class="fa fa-jedi"></i>
            @Resources.Settings.ResourceManager.GetString("Forces" + "_" + ViewBag.lang)
        </a>
        <span>/</span>
        <a href="@Url.Action("Stations", ViewBag.controllerName,new { id=@ViewBag.Selected_Force })">
            <i class="fa fa-university"></i>
            @Resources.Passes.ResourceManager.GetString("Units" + "_" + ViewBag.lang)
        </a>
        <span>/</span>
        <a href="@Url.Action("Permits", ViewBag.controllerName,  new { id=ViewBag.Selected_Station })">
            <i class="fa fa-universal-access"></i>
            @Resources.Passes.ResourceManager.GetString("main_permits_type" + "_" + ViewBag.lang)
        </a>
        <span>/</span>
        <a>
            <i class="fa fa-hand-pointer"></i>
            @Resources.Passes.ResourceManager.GetString("Select" + "_" + ViewBag.lang)
        </a>
    </div>
    <div class="card shadow-lg">
        <div class="card-body">

            <div class="col-lg-12">
                @if (Language.GetCurrentLang() == "en")
                {
                    <h1 class="text-center font-weight-bolder text-primary" style="font-family: Arial;">Choose pass type that you want in  (@ViewBag.Station)</h1>
                }
                else
                {
                    <h1 class="text-center text-primary">اختر نوع @permit في  (@ViewBag.Station)</h1>
                }
                <hr />
                <div class=" row-@dir">
                    @if (ViewBag.Selected_Station != null)
                    {
                        <div class="row justify-content-center">
                            @{ int x = 0;}
                            @foreach (var item in Model)
                            {
                                if (!company.Contains(item.CARD_SECRET_CODE))
                                {
                                    <div class="col-md-4 m-2">

                                        <a class="btn btn-primary btn-block p-4 font-weight-bolder text-center" href="~/@ViewBag.lang/Permitsdtl/Create?type=@item.ACCESS_TYPE_CODE&&permit=@item.CARD_SECRET_CODE&&station=@ViewBag.Selected_Station">
                                            <h5 class="text-center text-uppercase"><i class="@item.RA42_ACCESS_TYPE_MST.ICON"></i> @(Language.GetCurrentLang() == "en" ? @item.CARD_FOR_E : @item.CARD_FOR_A)</h5>
                                            <span>@item.REMARKS</span>
                                        </a>

                                    </div>
                                }
                                else
                                {
                                    if (x == 0)
                                    {
                                    <div class="col-md-4 m-2">

                                        <a class="btn btn-primary btn-block p-4 font-weight-bolder text-center" href="~/@ViewBag.lang/Permitsdtl/MultiCreate?type=@item.ACCESS_TYPE_CODE&&permit=2&&station=@ViewBag.Selected_Station">
                                            <h5 class="text-center text-uppercase"><i class="@item.RA42_ACCESS_TYPE_MST.ICON"></i> @(Language.GetCurrentLang() == "en" ? @item.RA42_ACCESS_TYPE_MST.ACCESS_TYPE_E : @item.RA42_ACCESS_TYPE_MST.ACCESS_TYPE)</h5>
                                            <span>
                                                @Resources.Passes.ResourceManager.GetString("multi_create" + "_" + ViewBag.lang)
                                            </span>
                                        </a>

                                    </div>
                                        x++;
                                    }
                                }
                            }





                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>


