@using SecurityClearanceWebApp.Util
<modals>
    @{
        string lang = "ar";
        User user = (User) ViewBag.userInfo;
    }
    @if (user != null)
    {
        <!-- User Details Modal  -->
        <div class="modal fade bd-example-modal-lg" id="UserDetailsModal"
             tabindex="-1" role="dialog"
             aria-labelledby="UserDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    <div class="modal-body" style="height: 100%">
                        <div class="row">
                            <div class="col-md-4">
                                <img style="width: 100%" src="@image_link" onerror="this.onerror = null;this.src = '@Url.Content("~/Content/images/user.png")'" alt="user image">
                            </div>

                            <div class="col-md-8 align-self-center user-details">
                                 @if (lang == "ar")
                                 {
                                     <text> style="text-align: right" </text>
                                 }>
                                <h5>
                                    @dictionary["sno"] :
                                    <span>@userInfo["user_sno"]</span>
                                </h5>
                                <h5>
                                    @dictionary["rank"] :
                                    <span>@userInfo["user_rank_" + lang]</span>
                                </h5>
                                <h5>
                                    @dictionary["name"] :
                                    <span>@userInfo["user_name_" + lang]</span>
                                </h5>
                                <h5>
                                    @dictionary["unit"] :
                                    <span>@userInfo["user_unit_name_" + lang]</span>
                                </h5>
                                <h5>
                                    @dictionary["trade"] :
                                    <span>@userInfo["user_force_trade_" + lang]</span>
                                </h5>
                                <h5>
                                    @dictionary["position"] :
                                    <span>@userInfo["user_post_" + lang]</span>
                                </h5>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            @dictionary["close"]
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Details Modal  -->
    }
</modals>
