@using APP.Util;
@model IEnumerable<SecurityClearanceWebApp.Models.RA42_FORCES_MST>

@{
    ViewBag.Title = "Index";
    string align = "text-right";
    string alignInverse = "text-left";
    string dir = "ltr";
    var table = "data-table1";

    if (ViewBag.lang == "ar")
    {
        align = "text-left";
        alignInverse = "text-right";
        dir = "rtl";
         table = "data-table";

    }

}




<div class="container-fluid" dir="@dir">
    <div class="row">
        @{
            Html.RenderPartial("settings_nav_links");

        }
        <div class="col-md-10">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 justify-content-center text-primary">
                            <h4>
                                <i class="@ViewBag.controllerIconClass"></i>&nbsp;
                                @Resources.Settings.ResourceManager.GetString("Forces" + "_" + ViewBag.lang)
                            </h4>
                        </div>
                        <div class="col-6 text-white @align">
                            <a class="btn btn-success" href="#" onclick="AddNew(0)">
                                <i class="fa fa-plus-circle"></i>
                                &nbsp;
                                @Resources.Common.ResourceManager.GetString("create" + "_" + ViewBag.lang)
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered table-hover table-responsive  @table  text-center" style="display: table">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>#</th>
                                <th>
                                    @Resources.Settings.ResourceManager.GetString("Force" + "_" + ViewBag.lang)
                                </th>

                                <th>
                                    @Resources.Settings.ResourceManager.GetString("directorate" + "_" + ViewBag.lang)
                                </th>
                                <th>
                                    @Resources.Settings.ResourceManager.GetString("Force_Code" + "_" + ViewBag.lang)
                                </th>
                                <th>
                                    @Resources.Settings.ResourceManager.GetString("logo" + "_" + ViewBag.lang)
                                </th>

                                <th style="border-right: 1px solid #ccc;">
                                    @Resources.Settings.ResourceManager.GetString("ACTIONS" + "_" + ViewBag.lang)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int rowNo = 0;}
                            @foreach (var item in Model)
                            {
                            <tr>
                                @{rowNo++;}
                                <td>@rowNo</td>


                                <td>
                                    @(Language.GetCurrentLang()=="en"?item.FORCE_NAME_E:item.FORCE_NAME_A)
                                </td>
                                <td>
                                    @(Language.GetCurrentLang()=="en"?item.DIRECTORATE_E:item.DIRECTORATE_A)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FORCE_CODE)
                                </td>
                                <td>
                                    @if (item.LOGO != null)
                                    {
                                        <img src="@item.LOGO" width="100" />
                                    }
                                </td>




                                <td style="border-right: 1px solid #ccc;">
                                    <div class="btn-group" dir="ltr">
                                        <a class="btn btn-primary details btn-sm" href="#" onclick="Details(@item.FORCE_ID)">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a class="btn btn-warning btn-sm" href="#" onclick="EditRecord(@item.FORCE_ID)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm text-white" href="#" onclick="DeleteRecord(@item.FORCE_ID)">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

<div class="modal fade" id="MyModal" dir="@dir">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-11">
                            <h4 id="ModalTitle"></h4>
                        </div>
                        <div class="col-md-1">
                            <a href="#" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fa fa-window-close"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        <input type="hidden" name="FORCE_ID" id="FORCE_ID" />
                        <div class="col-md-12">
                            @Resources.Settings.ResourceManager.GetString("force_a" + "_" + ViewBag.lang)
                            <div class="form-group">
                                <input type="text" class="form-control" name="FORCE_NAME_A" id="FORCE_NAME_A" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            @Resources.SettingsE.ResourceManager.GetString("force_a" + "_" + ViewBag.lang)
                            <div class="form-group">
                                <input type="text" class="form-control" name="FORCE_NAME_E" id="FORCE_NAME_E" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            @Resources.Settings.ResourceManager.GetString("directorate_a" + "_" + ViewBag.lang)
                            <div class="form-group">
                                <input type="text" class="form-control" name="DIRECTORATE_A" id="DIRECTORATE_A" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            @Resources.Settings.ResourceManager.GetString("directorate_e" + "_" + ViewBag.lang)
                            <div class="form-group">
                                <input type="text" class="form-control" name="DIRECTORATE_E" id="DIRECTORATE_E" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            @Resources.Settings.ResourceManager.GetString("Force_Code" + "_" + ViewBag.lang)
                            <div class="form-group">
                                <input type="text" class="form-control" name="FORCE_CODE" id="FORCE_CODE" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            @Resources.Settings.ResourceManager.GetString("logo" + "_" + ViewBag.lang)
                            <div class="form-group">
                                <textarea name="LOGO" class="form-control" id="LOGO"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <a href="#" class="btn btn-block text-center" id="SaveRecord"></a>

                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@*Create A PopUp Modal For DeleteConfirmation*@

<div class="modal fade" id="DeleteConfirmation" dir="@dir">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-11">
                            <h4 id="ModalTitle_dlt"></h4>
                        </div>
                        <div class="col-md-1">
                            <a href="#" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fa fa-window-close"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <h4>
                    @Resources.Common.ResourceManager.GetString("delete_question" + "_" + ViewBag.lang)
                </h4>



                <div class="col-md-12">
                    <h6 class="details-info-title">@Resources.Settings.ResourceManager.GetString("force_a" + "_" + ViewBag.lang)</h6>
                    <h6 class="details-info-content text-primary" id="FORCE_A1"></h6>
                    <hr />
                </div>
                <div class="col-md-12">
                    <h6 class="details-info-title">@Resources.SettingsE.ResourceManager.GetString("force_a" + "_" + ViewBag.lang)</h6>
                    <h6 class="details-info-content text-primary" id="FORCE_E1"></h6>
                    <hr />
                </div>
                <div class="col-md-12">
                    <h6 class="details-info-title">@Resources.Settings.ResourceManager.GetString("directorate_a" + "_" + ViewBag.lang)</h6>
                    <h6 class="details-info-content text-primary" id="DIA1"></h6>
                    <hr />
                </div>
                <div class="col-md-12">
                    <h6 class="details-info-title">@Resources.Settings.ResourceManager.GetString("directorate_e" + "_" + ViewBag.lang)</h6>
                    <h6 class="details-info-content text-primary" id="DIE1"></h6>
                    <hr />
                </div>
                <div class="col-md-12">
                    <h6 class="details-info-title">@Resources.Settings.ResourceManager.GetString("Force_Code" + "_" + ViewBag.lang)</h6>
                    <h6 class="details-info-content text-primary" id="FORCE_C1"></h6>
                </div>

                <div class="col-md-6">
                    <h6 class="details-info-title">@Resources.Settings.ResourceManager.GetString("logo" + "_" + ViewBag.lang)</h6>
                    <img id="f_img1" width="100" />
                    <hr />
                </div>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success" data-dismiss="modal" id="r"> <i class="fa fa-thumbs-up"></i> @Resources.Common.ResourceManager.GetString("cancel" + "_" + ViewBag.lang)</a>
                &thinsp;
                <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">
                    <i class="fa fa-trash"></i>
                    @Resources.Common.ResourceManager.GetString("delete_confirm" + "_" + ViewBag.lang)
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Details" dir="@dir">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-11">
                            <h4 id="ModalTitle_details"></h4>
                        </div>
                        <div class="col-md-1">
                            <a href="#" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fa fa-window-close"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">




                <div class="col-md-12">
                    <h6 class="details-info-title">@Resources.Settings.ResourceManager.GetString("force_a" + "_" + ViewBag.lang)</h6>
                    <h6 class="details-info-content text-primary" id="FORCE_A2"></h6>
                    <hr />
                </div>
                <div class="col-md-12">
                    <h6 class="details-info-title">@Resources.SettingsE.ResourceManager.GetString("force_a" + "_" + ViewBag.lang)</h6>
                    <h6 class="details-info-content text-primary" id="FORCE_E2"></h6>
                    <hr />
                </div>
                <div class="col-md-12">
                    <h6 class="details-info-title">@Resources.Settings.ResourceManager.GetString("directorate_a" + "_" + ViewBag.lang)</h6>
                    <h6 class="details-info-content text-primary" id="DAIA2"></h6>
                    <hr />
                </div>
                <div class="col-md-12">
                    <h6 class="details-info-title">@Resources.Settings.ResourceManager.GetString("directorate_e" + "_" + ViewBag.lang)</h6>
                    <h6 class="details-info-content text-primary" id="DAIE2"></h6>
                    <hr />
                </div>
                <div class="col-md-12">
                    <h6 class="details-info-title">@Resources.Settings.ResourceManager.GetString("Force_Code" + "_" + ViewBag.lang)</h6>
                    <h6 class="details-info-content text-primary" id="FORCE_C2"></h6>
                </div>
                <div class="col-md-6">
                    <h6 class="details-info-title">@Resources.Settings.ResourceManager.GetString("logo" + "_" + ViewBag.lang)</h6>
                    <img id="f_img2" width="100" />
                    <hr />
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="details-info-title">@Resources.Settings.ResourceManager.GetString("CRD_BY" + "_" + ViewBag.lang)</h6>
                        <h6 class="details-info-content text-primary" id="CRD_BY"></h6>
                        <hr />
                    </div>
                    <div class="col-md-4">
                        <h6 class="details-info-title">@Resources.Settings.ResourceManager.GetString("CRD_DT" + "_" + ViewBag.lang)</h6>
                        <h6 class="details-info-content text-primary" id="CRD_DT"></h6>
                        <hr />
                    </div>
                    <div class="col-md-4">
                        <h6 class="details-info-title">@Resources.Settings.ResourceManager.GetString("UPD_BY" + "_" + ViewBag.lang)</h6>
                        <h6 class="details-info-content text-primary" id="UPD_BY"></h6>
                        <hr />
                    </div>
                    <div class="col-md-4">
                        <h6 class="details-info-title">@Resources.Settings.ResourceManager.GetString("UPD_DT" + "_" + ViewBag.lang)</h6>
                        <h6 class="details-info-content text-primary" id="UPD_DT"></h6>
                        <hr />
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {


    <script>


        function AddNew(id) {
            $("#form")[0].reset();
            $("#FORCE_ID").val(0);
            $("#ModalTitle").html("<i class='fa fa-plus-circle'></i> @Resources.Common.ResourceManager.GetString("create" + "_" + ViewBag.lang)");
            $("#SaveRecord").html("<i class='fa fa-plus-circle'></i> @Resources.Common.ResourceManager.GetString("create" + "_" + ViewBag.lang)").removeClass('btn-warning').addClass("btn-success");
            $("#MyModal").modal();

        }

        //Show The Popup Modal For Edit Student Record

        function EditRecord(Id) {
            var url = "./GetObjectById?Id=" + Id;
            //console.log(Id);
            $("#ModalTitle").html("<i class='fa fa-edit'></i> @Resources.Common.ResourceManager.GetString("edit" + "_" + ViewBag.lang)");
            $("#SaveRecord").html("<i class='fa fa-save'></i> @Resources.Common.ResourceManager.GetString("save" + "_" + ViewBag.lang)").removeClass('btn-success').addClass("btn-warning");
            $("#MyModal").modal();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    //var obj = JSON.parse(data);
                    var obj = JSON.parse(JSON.stringify(data));
                    $("#FORCE_ID").val(obj.FORCE_ID);
                    $("#FORCE_NAME_A").val(obj.FORCE_NAME_A);
                    $("#FORCE_NAME_E").val(obj.FORCE_NAME_E);
                    $("#DIRECTORATE_A").val(obj.DIRECTORATE_A);
                    $("#DIRECTORATE_E").val(obj.DIRECTORATE_E);
                    $("#FORCE_CODE").val(obj.FORCE_CODE);
                    $("#LOGO").val(obj.LOGO);


                }
            })
        }

        $("#SaveRecord").click(function () {
            var data = $("#SubmitForm").serialize();
            $.ajax({
                type: "Post",
                url: "./SaveDataInDatabase",
                data: data,
                success: function (result) {
                    window.location.href = "./index";
                    $("#MyModal").modal("hide");

                }
            })
        })
         //Show The Popup Modal For DeleteComfirmation
        function Details(Id) {
            $("#FORCE_ID").val(Id);
            var url = "./GetObjectById?Id=" + Id;
            //console.log(Id);
            $("#ModalTitle_details").html("<i class='fa fa-eye'></i> @Resources.Common.ResourceManager.GetString("details" + "_" + ViewBag.lang)");
            $("#Details").modal();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    //var obj = JSON.parse(data);
                    var obj = JSON.parse(JSON.stringify(data));
                    var force_a = obj.FORCE_NAME_A != null ? obj.FORCE_NAME_A : "";
                    var force_e = obj.FORCE_NAME_E != null ? obj.FORCE_NAME_E : "";
                    var d_a = obj.DIRECTORATE_A != null ? obj.DIRECTORATE_A : "";
                    var d_e = obj.DIRECTORATE_E != null ? obj.DIRECTORATE_E : "";
                    var force_code = obj.FORCE_CODE != null ? obj.FORCE_CODE : "";
                    var logo_base64 = obj.LOGO != null ? obj.LOGO : "";
                    var crd_by = obj.CRD_BY != null ? obj.CRD_BY : "";
                    var upd_by = obj.UPD_BY != null ? obj.UPD_BY : "";
                    var crd_dt = obj.CRD_DT != null ? dtConvFromJSON(obj.CRD_DT) : "";
                    var upd_dt = obj.UPD_DT != null ? dtConvFromJSON(obj.UPD_DT) : "";
                    var logo = document.getElementById('f_img2');
                    if (logo_base64 != "") {
                        logo.src = logo_base64;
                    }
                   
                    $("#FORCE_A2").text(force_a);
                    $("#FORCE_E2").text(force_e);
                    $("#FORCE_C2").text(force_code);
                    $("#DAIA2").text(d_a);
                    $("#DAIE2").text(d_e);
                    $("#CRD_BY").text(crd_by);
                    $("#CRD_DT").text(crd_dt);
                    $("#UPD_BY").text(upd_by);
                    $("#UPD_DT").text(upd_dt);
                }
            })

        }
        //Show The Popup Modal For DeleteComfirmation
        function DeleteRecord(Id) {
            $("#FORCE_ID").val(Id);
            var url = "./GetObjectById?Id=" + Id;
            //console.log(Id);
            $("#ModalTitle_dlt").html("<i class='fa fa-trash'></i> @Resources.Common.ResourceManager.GetString("delete" + "_" + ViewBag.lang)");
            $("#DeleteConfirmation").modal();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    //var obj = JSON.parse(data);
                    var obj = JSON.parse(JSON.stringify(data));
                    var obj = JSON.parse(JSON.stringify(data));
                    var force_a = obj.FORCE_NAME_A != null ? obj.FORCE_NAME_A : "";
                    var force_e = obj.FORCE_NAME_E != null ? obj.FORCE_NAME_E : "";
                    var d_a = obj.DIRECTORATE_A != null ? obj.DIRECTORATE_A : "";
                    var d_e = obj.DIRECTORATE_E != null ? obj.DIRECTORATE_E : "";
                    var force_code = obj.FORCE_CODE != null ? obj.FORCE_CODE : "";
                    var logo_base64 = obj.LOGO != null ? obj.LOGO : "";

                    var logo = document.getElementById('f_img1');
                    if (logo_base64 != "") {
                        logo.src = logo_base64;
                    }
                    $("#FORCE_A1").text(force_a);
                    $("#FORCE_E1").text(force_e);
                    $("#FORCE_C1").text(force_code);
                    $("#DIA1").text(d_a);
                    $("#DIE1").text(d_e);
                }
            })

        }
        function ConfirmDelete () {
            var Id = $("#FORCE_ID").val();
            //console.log(Id);
            $.ajax({
                type: "POST",
                url: "./DltRecordById?Id=" + Id,
                success: function (result) {
                    $("#DeleteConfirmation").modal("hide");
                    window.location.href = "./index";

                }
            })
        }

        function dtConvFromJSON(data) {
            jsonDate = data;
            debugger;
            var d = new Date(parseInt(jsonDate.substr(6)));
            var m, day;
            m = d.getMonth() + 1;
            if (m < 10)
                m = '0' + m
            if (d.getDate() < 10)
                day = '0' + d.getDate()
            else
                day = d.getDate();
            var formattedDate = d.getFullYear() + "/ " + m + "/ " + day;
            var hours = (+d.getHours());
            var minutes = (+d.getMinutes());
            var formattedTime = hours + ":" + minutes + ":" + (+d.getSeconds());
            formattedDate = formattedTime + " " + formattedDate;
            return formattedDate;
        }

    </script>


}

